{% import '_includes/forms' as forms %}

{% if field.multiple %}
        {{ forms.checkboxGroup({
                id : field.handle,
                name : field.handle,
                values: value,
                placeholder: 'Choose Sections...' | t('section-and-product-type'),
                options: sections
        }) }}
{% else %}
        {{ forms.radioGroup({
                id : field.handle,
                name : field.handle,
                value: value,
                placeholder: 'Choose Section...' | t('section-and-product-type'),
                options: sections
        }) }}
        {% if value is iterable %}
                <p class="warning">{{ "Multiple sections selected but only one can be selected in the field." | t('section-and-product-type') }}</p>
        {% endif %}
{% endif %}

