{% import '_includes/forms' as forms %}

{% set allowProductTypes = selectAll ? [true] : field.allowProductTypes %}

<div id="multiple">
    {{ forms.checkboxField({
        label : 'Allow Multiple' | t('section-and-product-type'),
        instructions : 'If checked, the user can select multiple sections, otherwise they can only select one.' | t('section-and-product-type'),
        name : 'multiple',
        checked: field.multiple
    }) }}
</div>

<hr>

<div data-ww="selectAll">
    {{ forms.checkboxField({
        label : 'Select All Product Types' | t('section-and-product-type'),
        instructions : 'This will allow all product types to be used for selection.' | t('section-and-product-type'),
        name : 'selectAll',
        checked: field.selectAll
    }) }}
</div>

<hr>

<div id="allowProductTypes" data-ww="allowProductTypes">
    {{ forms.checkboxGroupField({
        label : 'Allowed Product Types' | t('section-and-product-type'),
        instructions : 'The product types that may be chosen for this field.\n **If selected Select All Product Types, all sections are selected**.' | t('section-and-product-type'),
        name : 'allowProductTypes',
        values: allowProductTypes,
        options : productTypes
    }) }}
</div>

<hr>

{{ forms.checkboxGroupField({
    label : 'Exclude Product Types' | t('section-and-product-type'),
    instructions : 'The product types that will be excluded from the selection for this field.\n **Used when select all is on**.' | t('section-and-product-type'),
    options : productTypes,
    id : 'excluded',
    values: field.excludedProductTypes,
    name : 'excludedProductTypes',

}) }}
